.Filter {
  &__container {
    & .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
      transform: rotate(0deg);
    }

    & .MuiAccordionSummary-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.Mui-expanded {
        margin: 12px 0;
      }
    }
  }

}